table{
    border-left: 2px solid black;
    margin-left: 2%;
    border-top:4px solid black;
    margin-bottom: 10px;
    width:75%;

}
td,th{
    padding-left:10px;
    padding-right: 10px;
}

h2,h3{
    text-align:center;
    
}
